<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wafer Breakage Inspection</title>
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png">

    <!-- Bootstrap compiled CSS -->
    <link href="/static/css/main.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-5">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h3 class="masthead-brand">Square Detector</h3>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <nav>
                        <div class="nav nav-tabs nav-masthead" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-main-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-main" type="button" role="tab" aria-controls="nav-main"
                                aria-selected="true">Main
                            </button>
                            <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings"
                                aria-selected="false">Settings
                            </button>
                            <button class="nav-link" id="nav-about-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-about" type="button" role="tab" aria-controls="nav-about"
                                aria-selected="false">About
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="row align-items-start colf">
                <div class="col-md-8">
                    <div class="mt-3">
                        <img id="image" src="static/salt_and_pepper.gif" alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-content px-1" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-main" role="tabpanel"
                            aria-labelledby="nav-main-tab">
                            <div class="d-grid mt-3">
                                <button class="btn btn-outline-secondary cstm-btn" id="generate-img-button">Generate
                                    Image
                                </button>
                                <button class="btn btn-outline-secondary cstm-btn mt-4" id="find-square-button">Find
                                    Square
                                </button>
                                
                            </div>
                            <div class="mt-5">
                                <label class="form-label lead">Elapsed time</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" value=""
                                        id="elapsed-time" readonly>
                                    <span class="input-group-text">ms</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                            <label for="square-size" class="form-label lead">Square size&nbsp;&nbsp;&nbsp;</label>
                            <span class='lead' id="square-size-indicator"></span>
                            <input type="range" class="form-range" min="300" max="700" id="square-size">

                            <label for="lines-number" class="form-label lead">Lines number&nbsp;&nbsp;&nbsp;</label>
                            <span class='lead' id="lines-number-indicator"></span>
                            <input type="range" class="form-range" min="1" max="5" id="lines-number">

                            <label for="line-width" class="form-label lead">Line width&nbsp;&nbsp;&nbsp;</label>
                            <span class='lead' id="line-width-indicator"></span>
                            <input type="range" class="form-range" min="10" max="100" id="line-width">
                        
                            <label for="ransac" class="form-label lead">RANSAC iterations&nbsp;&nbsp;&nbsp;</label>
                            <span class='lead' id="ransac-indicator"></span>
                            <input type="range" class="form-range" min="100" max="100000" id="ransac">
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <div class="mt-3">
                                <p class="lead text-start">
                                    The app is designed to assess the effectiveness of the RANSAC-based algorithm in identifying shapes that may have unclear or partially defined edges.
                                </p>
                                <p class="lead text-start">
                                    Please note that the quality of detection and processing time may vary depending on factors such as the number of RANSAC iterations and the complexity of the input image.
                                </p>
                                <p class="lead text-start"> 
                                    If you have questions or feedback, please don't hesitate to reach me out:
                                    example@example.com
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
        </main>
        <footer class="mastfoot mt-auto">
            <!-- <p>2023</p> -->
        </footer>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- htmx -->
    <script src="static/htmx/htmx.min.js"></script>

    <!-- plotly -->
    <script src="static/plotly/plotly-2.14.0.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/panzoom/5.0.3/panzoom.min.js"></script> -->
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>


    <script>
        var host = "{{ host }}";
        var port = '{{ port }}';
    </script>

    <!-- main.js -->
    <script src="static/js/wbi.js"></script>
</body>

</html>